//- template for all pages
doctype html
html 
  head 
    title= `${title}`
    link(rel='stylesheet', href='/public/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/styles-form.css')
    link(rel='stylesheet', href='/css/styles.css')

  body

//- this header will be used for all pages
header
  nav
    ul
      li
        a(href='/') Home
      li |
      li
        a(href='/blog') Blog

  a.registerButton(href='/register') Register

block content
